<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Pet was located!</h1>
    <p>
      Someone has located your Pet! Be on the lookout for another email or online message.,
      your personname is: .<br>
    </p>
    <p>
      To login to the site, just follow this link:<%= @url %>.
    </p>
    <p>We hope to see you guys reunited soon!</p>
  </body>
</html>