<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<!-- Plugin CSS -->
<link rel="stylesheet" href="device-mockups/device-mockups.min.css">

<!-- Custom styles for this template -->
<link href="css/new-age.min.css" rel="stylesheet">

<style>
#wordbox {
/*opacity: 0;*/
margin: 30px auto 0;
display: block;
width: 300px;
height: 40px;
font-size: 30px;
text-align: center;
background: #fff;
border-radius: 6px;
color: #black;
transition: 1s linear;
}

/*.btn{*/
/*background:transparent;*/
/*}*/
#contact: {
display:none;
}
body{
background-color:#ffffff;
}
.btn-xls{
background:rgba(0, 0, 0, 0.2);
}

form{
margin-left:0%;
}

/* iphone 6 Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 
#wordbox{
font-size:25px;
}
}
</style>
</head>

<body id="page-top">

<header class="masthead">
<div class="container h-100">
<div class="row h-100">
<div class="col-lg-7 my-auto">
<div class="header-content mx-auto">
<h1 class="mb-5">Running out of ideas? Generate a dummy email address instantly.</h1>
<FORM NAME="WordForm">
  <INPUT TYPE=TEXT NAME="WordBox" id="wordbox">
  <BR>
  <INPUT TYPE=BUTTON VALUE="Generate" onClick="PickRandomWord(document.WordForm);" id="button" class="btn btn-outline btn-xl">
</FORM>

</div>
<br>
<!--<ul>-->
<!--  <li>-->
<!--    Setup Reminders for any subscription or service.-->
<!--  </li>-->
<!--  <li>-->
<!--    Receive a text message on your phone each time a subscription is set to expire.-->
<!--  </li>-->
<!--  <li>-->
<!--    Find the best subscriptions around.-->
<!--  </li>-->
<!--</ul>-->
</div>
<div class="col-lg-5 my-auto">
<div class="device-container">
<div class="device-mockup iphone6_plus portrait white">
<div class="device">
<div class="screen">
  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
  <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
</div>
<div class="button">
  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>

<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/popper/popper.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->

<!-- Plugin JavaScript -->
<!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!-- Custom scripts for this template -->
<!--<script src="js/new-age.min.js"></script>-->

<!-- tooltips -->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script>
var NumberOfWords = 16

var words = new BuildArray(NumberOfWords)

// Use the following variables to 
// define your random words:
words[1] = "cultivate_23@gmail.com"
words[2] = "europounds12@live.co.uk"
words[3] = "@hotmail.com"
words[4] = "dream12@blueyonder.co.uk"
words[5] = "comingsoon@mail.com"
words[6] = "yourtone@mail.com"
words[7] = "@mail.com"
words[8] = "aldia@mail.com"
words[9] = "bdome@mail.com"
words[10] = "domainiserpie@mail.com"
words[12] = "kivaterra@mail.com"
words[13] = "crackout6@mail.com"
words[14] = "heybuddie@mail.com"
words[15] = "opensoucemail@mail.com"
words[16] = "thisishacked@mail.com"

function BuildArray(size) {
  this.length = size
  for (var i = 1; i <= size; i++) {
    this[i] = null
  }
  return this
}

function PickRandomWord(frm) {
  // Generate a random number between 1 and NumberOfWords
  var rnd = Math.ceil(Math.random() * NumberOfWords)

  // Display the word inside the text box
  frm.WordBox.value = words[rnd]
}


</script>
</body>

</html>
